<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
      <connectionStrings>  
        <add name="DefaultConnection" connectionString="data source=(local); database=Demodb; user id=sa; password=xyz;" providerName="System.Data.SqlClient" />  
      </connectionStrings>
    </system.web>
</configuration>